@charset "utf-8";

#topo input {
    margin: 5px;
    float: right;
    border-radius: 2%;
    clear: both;
    overflow: hidden;
}

#topo{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    border-radius: 2%;
    overflow: hidden;
    clear: both;

    
}

.teste{
    margin: 0;
    font-size: 150%;
    float: right;
}