@charset "utf-8";
body{
    text-align: center;
}

.login {
    float: left;
    clear: both;
    width: 5%;
    height: 50px;
    margin: 5px;
   }

.botao{
    width: 25%;
    height: 50px;
    margin: 5px;
}



#topo{
    width: 100%;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1%;
}

#topo img{
    margin-left: 10%;
}


#conteudo{
    width: 100%;
    height: auto;
    display: flex;

}

#teste{
    float: left;
    margin: 5px;
}


#rodape{
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}


.rodape{
    width: 35%;
    height: 100px;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 
}
