@charset "utf-8";
html{
    scroll-behavior: smooth;
}

a:link{
    margin: 5px;
    color: white;
}
body{
    text-align: center;

}

.teste{
    width: 5%;
    height: 50px;
}

.login {
    float: left;
    clear: both;
    width: 5%;
    height: 50px;
    margin: 5px;
   }

.botao{
width: 25%;
box-sizing: border-box;
}

.botao img{
    width: 50%;
}



#topo{
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1%;
    justify-content: center;
    margin: 5px;

}

main img{
    box-sizing: border-box;
    border-radius: 2%;
    
}

#conteudo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.topico2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.texto-conteudo span{
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto1{
    font-size: xx-large;
    color: red;
    text-align: center;

}

#teste{
    width: 22%;
    height: 300px;
    float: left;
    margin: 10px 20px;
    border: solid;  
    display: flex;
    border-radius: 5%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    background-color: black;
    
}

#teste1{
    width: 22%;
    height: 300px;
    float: left;
    margin: 10px 20px;
    border: solid;  
    display: flex;
    border-radius: 5%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    background-color: black;
    
}


#rodape{
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}


.rodape{
    width: 35%;
    height: 100px;
    font-size: medium;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    
}





.flutua{
    width: 15%;
    display: flex;
    float: left;
}

.flutua img{
    width: 100% ;
    height: 200px;
    border-radius: 200%;
    margin-right: 300px;
}




.preto{
    border-color: transparent;
    background-color: transparent
}

.navegar{
    margin-left: 5%;
}

.cadastra{
    width: 10%;
    height: 70px;
    box-sizing: border-box;
    margin-left:200px;
    background-color: transparent;
    float: left;
    color: red;
    border-color: transparent;
}

.cadastra img{
    width: 40%;
    float: left;
    border-radius: 300px;
}


.carrinho{
    width: 10%;
    margin-left: 10px;
}
